.main {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 120, 49);
}

.imageContainer {
  margin: 0;
  padding: 0;
  padding: 2vh 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  justify-content: center;
}
