.main {
  margin: 0;
  padding: 0;
  padding-bottom: 3vh;
  background-color: rgb(198, 110, 223);
}



.imageContainer {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerContainer {
  margin: 0;
  padding: 0;
  /* padding-bottom: 2rem; */
  /* height: auto; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
}

.image {
  /* margin: 1rem 1rem; */
  justify-content: center;
}

.heading1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.container {
  color: white;
  display: flex ; 
  flex-flow: row nowrap;
  align-items: center; 
  /* justify-content: center; */
  line-height: 1.6rem;
}

.heading2 {
  font-size: 1.75rem;
  font-weight: 300;
  /* margin: 0 10vw; */
  margin: 0;
  padding: 2vh 1vw;
}

.text {
  margin: 0;
  padding: 2vh 1vw;
  /* margin-left: 10vw;
  margin-right: 10vw; */
  font-size: 1.0rem;

}
