.main {
  margin: 0;
  padding: 0;
}

.imageContainer {
  background-color: rgb(44, 43, 44);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  margin: 1rem 1rem;
  justify-content: center;
}
