.headerContainer {
    background-color: rgb(153, 229, 132);
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    background-color: rgb(153, 229, 132);
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.image {
    margin: 1rem 1rem;
    justify-content: center;
}


.title {
    font-size: 3rem;
    font-weight: 400;
  }
  
  .text {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
