.footerContainer {
  background-color: rgb(239, 98, 98);
  color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  background-color: rgb(239, 98, 98);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  margin: 2rem 0;
  justify-content: center;
}

@media only screen and (max-width: 9999px) {
  .image {
    width: 50vw;
  }
}

@media only screen and (max-width: 992px) {
  .image {
    width: 50vw;
  }
}

@media only screen and (max-width: 768px) {
  .image {
    width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  .image {
    width: 80vw;
  }
}

.title {
  font-size: 3rem;
  font-weight: 400;
}

.text {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
}

.book {
  font-style: italic;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}