.main {
  margin: 0;
  padding: 0;
  background-color: rgb(152, 201, 243);
}

.container {
  margin: 15px 15px;
  padding: 0;
  background-color: rgb(152, 201, 243);
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 1.6rem;
}

.imageContainer {
  margin: 0;
  padding: 0;
  /* padding-bottom: 2rem; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button {
  background: #420ce2;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 1.25rem;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  margin: 1.5rem 1.5rem;
}

.button:hover {
  background-color: #082fe0;
  font-weight: bolder;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}

/* .headerContainer {
  background-color: rgb(180, 148, 172);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

/* .image { */
  /* margin: 1rem 1rem; */
  /* justify-content: center; */
/* } */

/* .title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.25rem;
} */

.text {
  font-size: 1.75rem;
}

/* .book {
  font-style: italic;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
} */