.container {
    background-color: rgb(86, 22, 62);
    margin: 0;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

