

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


.outerContainer {
  background-color: rgb(72, 84, 238);
  /* color: rgb(2, 6, 248); */
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.imageContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  flex: 1;
}
.image {
  margin: 1rem 1rem;
  justify-content: center;
}

.textContainer {
  color: rgb(12, 11, 11);
  margin: 0;
  padding: 1rem;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
}

.heading1 {
  font-size: 3vmin;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}

.heading2 {
  font-size: 2.5vmin;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}

.text {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.5rem;
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button {
  background: #ffdab9;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  margin: 0.5rem 0.5rem;
}

.button:hover {
  background-color: #ffc28c;
  font-weight: bolder;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 50px) {
  .outerContainer {
    flex-flow: column nowrap;
  }

  .heading1, .heading2 {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 4.3vmin;
  }

  .text {
    margin-left: 15vw;
    margin-right: 15vw;
    font-weight: 500;
    font-size: 3.3vmin;
  }
}

