@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container {
  padding: 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(132, 178, 238); */
  background-color: gray;
}

.imageContainer {
  margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.heading2 {
  margin: 0;
  width: 80vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: rgb(210, 210, 246);
}

.text {
  margin: 0;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: white;
}


@media only screen and (max-width: 768px) {
  .imageContainer {
  
      flex-flow: column nowrap;
  }
}