.main {
  margin: 0;
  padding: 0;
  /* padding-top: 10px; */
    background-color: rgb(130, 146, 245);
}

.container {
  margin: 0;
  padding: 10px;
  /* background-color: rgb(180, 148, 172); */
  color: black;
  display: flex column;
  justify-content: center;
  line-height: 1.6rem;
}

.imageContainer {
  /* background-color: rgb(180, 148, 172); */
  margin: 0;
  padding: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerContainer {
  /* background-color: rgb(180, 148, 172); */
  margin: 0;
  padding: 0rem;
  /* padding-bottom: 2rem; */
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  /* margin: 1rem 1rem; */
  justify-content: center;
}

.title {
  font-size: 1.75rem;
  font-weight: 400;

  line-height: 0.25rem;
}

.text {
  margin: 0;
  padding: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
}

.book {
  font-style: italic;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}