@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container {
  /* position: relative; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0px;
  height: auto;
  background-color: rgb(54, 58, 63);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.headingContainer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  height: auto;
  /* padding-left: 60px; */
  /* padding-right: 60px; */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.imageContainer {
  margin: 0;
  padding: 0;
  padding: 2vh 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.textContainer {
  /* position: relative; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  /* height: auto; */
  background-color: rgb(54, 58, 63);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white !important;
}

.text {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  height: 2px;
}
.image {
  justify-content: center;
}

.imageWrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  /* width: 100%; */
  height: 90%;
}

.descWrapper {
  /* width: 100%; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin: 10px 10px;
  font-family: "Merriweather Sans", sans-serif;
}
h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  margin: 0;
  margin: 5px 20px;
  font-family: "Merriweather Sans", sans-serif;
}

.form {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px;
  margin: 2% 20%;
  height: auto;
  align-items: center;
  background-color: rgb(26, 128, 230);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  /* margin-bottom: 40px; */
  background-color: rgb(228, 232, 236);
  width: 50vw;
}

.formText {
  font-size: 1.2rem;
  color: black;
  margin-left: 12%;
  margin-right: 12%;
}

.offering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

.button {
  /* background: rgb(14, 14, 240);
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 2.5vh;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  width: 40vw;
  height: 10vh; */

  background: rgb(37, 3, 233);
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 1.75rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  margin: 0.5rem 0.5rem;
}

.button:hover {
  background-color: rgb(1, 20, 196);
  font-weight: bolder;
}

.amountContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50vw;
}

.amountInput {
  flex: 1;
  width: 20vw;
}

.perText {
  white-space: nowrap;
}

.periodSelect {
  width: auto;
}

.replyText {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  color: black;
  margin: 0;
  padding: 0.5rem;
  margin-left: 12%;
  margin-right: 12%;
}
