body {
  padding:0;
  margin: 0;
}

.footerContainer {
  background-color: rgb(8, 226, 241);
  color: rgb(2, 6, 248);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  background-color:  rgb(8, 226, 241);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.image {
  margin: 1rem 5%;
  justify-content: center;
}


.title {
  font-size: 2rem;
  font-weight: 400;
}

.text {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  line-height: 1.0;
}

.smallText {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  line-height: 0.2;
}


.quote {
  margin: 2rem 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
  color: rgb(95, 92, 92);
}

.quote figcaption {
  font-weight: 700;
}


