
.footerContainer {
  background-color: rgb(8, 226, 241);
  color: rgb(2, 6, 248);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  background-color:  rgb(8, 226, 241);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.image {
  margin: 1rem 5%;
  justify-content: center;
}


.title {
  font-size: 3rem;
  font-weight: 400;
}

.text {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.book {
  font-style: italic;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}
