
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&display=swap');

.container {
  background-color: rgb(8, 226, 241);
  color: rgb(2, 6, 248);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding:0;
  margin: 0;
}

.imageContainer {
  background-color:  rgb(8, 226, 241);
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.image {
  margin: 1rem 15%;
  justify-content: center;
}


.title {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.text {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.text h2 {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
}


.smallText {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  line-height: 0.2;
  font-family: 'Merriweather', serif;
}


.quote {
  margin: 2rem 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
  color: rgb(95, 92, 92);
}

.quote figcaption {
  font-weight: 700;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f00c0c;
  margin: 1em 0;
  padding: 0;
  width: 40vw;
}

.button:link {
  text-decoration: none;
}

.button:visited {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  text-decoration: none;
}

.button {
  background-color: #5810df; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
